body{padding-top: 62px;}
.header-ul{list-style-type:none;}
.header-ul>li{float:left;width:60px;height:50px;text-align:center;}
.subject-text2{background-position: -250px -150px;background-image:url(../images/texts.png);background-repeat: no-repeat;height:35px;margin-top:20px;margin-bottom:10px;}
.right-content{}
.right-content>div{border-bottom:1px dashed #E5E3E6;margin:0px 5px 15px 5px;padding-bottom:10px;}
.right-content-title{font-size:14px;font-weight:bold;margin-bottom:5px;}
.right-content-text{font-size:12px;}
.buy-car{width:200px;height:50px;;line-height:50px;text-align:center;border:1px solid #E02284;}
.buy-car-count{width:50px;height:50px;line-height:50px;background-color:#FFFFFF;float:right;}
#buyCarContent{width:300px;}
.location{width:100%;font-size:12px;font-weight:bold;margin-top:15px;padding-bottom:10px;border-bottom:1px dashed #E5E3E6;}
.selector{border-bottom:1px dashed #E5E3E6;font-size:12px;}
.bar-sort{height:40px;line-height:40px;background-color:#F6F6F4;margin:15px 0px 10px 0px;}
.bar-sort>div{float:left;margin-left:10px;}
.btn-sort{height:25px;line-height:25px;width:100px;background-color:#ED9C28;color:#FFFFFF;font-size:12px;text-align:center;margin-top:10px;}
.btn-sort-active{background-color:#E02284;}
.btn-sort-active-default{background-color:#E02284;}

.detail-title{font-size:30px;text-indent:1em;font-weight:bold;color:#6A4D4D;height:60px;line-height:60px;background-color:#F8F8F8;}
.detail-price{font-size:24px;color:#FFFFFF;text-indent:2em;font-weight:bold;background-color:#DD3931;height:60px;line-height:60px;}
.detail-price-number{font-size:30px;}
.detail-article-line{padding-top:20px;color:#666666;background-color:#EAE3DD;}
.detail-article-line dt{width:80px;height:25px;}
.detail-article-line dd{margin-left:100px;height:25px;}
.detail-article-buy{background-color:#F8F8F8;height:60px;}
.article-param dt{width:100px;}
.detail-comment{height:200px;border:1px solid #D0E4C2;padding:20px;}
.detail-comment-title{border-bottom:1px solid #D0E4C2;}
.detail-comment-title-date{float:right;color:#666666;}
.detail-comment-text{font-size:13px;color:#666666;margin-top:10px;}
.detail-comment-text-reply{font-size:13px;color:#666666;margin-top:10px;border-top:1px dashed #D0E4C2;padding-top:20px;}
.detail-comment-text-title{width:40px;text-align: right;float:left;}
.detail-comment-text-content{margin-left:50px;}

/*articleDetailInPage4View*/
.articleDetailInPage4View-star-color{color:red};

/*mainPassageView*/
.passage-content{height:740px;}
.panel-heading-title{font-size:12px;}

/*menuView*/
.all-menu-btn{font-size:14px;text-align:center;float:right;width:150px;height:50px;line-height:50px;border-left:1px solid #E5E3E6;border-right:1px solid #E5E3E6;}
.all-menu-content{width:20px;height:100px;float:right;}
.AllMenuBtnActive{background-color:#FFFFFF;}
.all-menu-ul li{height:30px;line-height:30px;}
.first-menu-title{color:#E5288A;font-size:12px;margin-top:10px;font-weight:bold;}
.small-nav div{float:right;margin-right:10px;padding-right:10px;border-right:2px solid #F1F0F2;}

/*footerView*/
.footer-list{border-right:1px solid #E9E1E8;}
.footer-list li{color:#666666;height:25px;}
.footer-container{margin-top:30px;}
.footer-block{background-color:#F9F9F9;border-top:1px solid #E0E0E0;margin-top:30px;}

/* a.a{color:#666666;} */
/* a.a:hover{color:#E02284;} */

/*a标签去掉下划线*/
a.not-underline{TEXT-DECORATION:none}

/*背景颜色-主色调，粉色*/
.background-color-primary{background-color:#E3007F;}

/*字体大小-12*/
.font-size-12{font-size:12px}

.font-bold{font-weight:bold;text-align:left;}
.margin-top-line{margin-top:10px;}
.image-equal-width{width:100%;}
.subject-text1{background-image:url(../images/texts.png);background-repeat: no-repeat;height:35px;margin-top:20px;margin-bottom:10px;}
.bg{background-color:#FDFBFE;}
.top-border{border-top:1px dashed #E5E3E6}