<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flt.dao.client.CommonMapper" >

	<select id="countArticleGrade" parameterType="java.lang.Integer" resultType="java.lang.String">
		SELECT AVG(`comment`.grade) FROM `comment` WHERE `comment`.article_id =#{articleId}
	</select>
	
	<select id="selectFirstImgForArticle" parameterType="java.lang.Integer" resultMap="com.flt.dao.client.ArticleImgMapper.BaseResultMap" >
		SELECT * FROM article_img WHERE article_id = #{articleId} LIMIT 1
	</select>
</mapper>