<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flt.dao.client.CommonArticleMapper" >

	<select id="listPopularArticle" resultMap="com.flt.dao.client.ArticleMapper.BaseResultMap">
		select * from article order by sale_count desc limit 10
	</select>
	<select id="listNewerArticle" resultMap="com.flt.dao.client.ArticleMapper.BaseResultMap">
		select * from article order by c_dt desc limit 10
	</select>
	
</mapper>